.container {
    width: 280px;
}

.item {
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    color: #252525;
    border-bottom: 1px solid #252525;
    padding: 16px 0 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.active {
    pointer-events: none;
}

.active, .item:hover {
    color: #828282;
    border-bottom-color: #828282;
}

.active:after {
    content: url(../../../../images/arrow-right-icon.svg);
    width: 18px;
    height: 18px;
    object-fit: contain;
    object-position: center center;
    flex-shrink: 0;
    padding-right: 10px;
    opacity: .5;
}