.chips {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
}

.container {
    display: inline-flex;
    gap: 20px;
    padding: 20px 0;
}

.label {
    padding: 10px 25px;
    border: 1px solid #000;
    text-transform: uppercase;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    user-select: none;
}

.label:hover {
    border-color: #ED6E00ed;
    color: #ED6E00ed;
}

.active {
    border-color: #ED6E00ed;
    color: #ED6E00ed;
    pointer-events: none;
}