.chips {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.label {
    padding: 10px 25px;
    border: 1px solid #000;
    text-transform: uppercase;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
}

.label:hover {
    border-color: #ff5c00;
    color: #ff5c00;
}

.active {
    border-color: #ff5c00;
    color: #ff5c00;
    pointer-events: none;
}