.container {
    border: 1px solid #000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.title {
    padding-bottom: 25px;
}

.wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 200px;
    height: auto;
    object-fit: contain;
    object-position: center center;
    cursor: zoom-in;
    border-radius: 25px;
}

.empty {
    padding: 50px 25px;
}

button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.info {
    width: 400px;
    flex-shrink: 0;
}

.name {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}

.description {
    font-size: 16px;
    line-height: 20px;
}

.price {
    width: 150px;
    font-weight: bold;
    text-align: right;
}