.container {
    display: inline-flex;
    gap: 5px;
    padding: 20px 0;
    position: relative;
    z-index: 2;
    grid-column: 1 / 4;
    background: #fff;
    border-radius: 25px;
}

.link {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    color: #ED6E00;
    border-color: #ED6E00;
}

.active {
    color: #ED6E00;
    border-color: #ED6E00;
}