.badge {
    background-color: #ED6E00;
    font-weight: bold;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -8px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    font-size: 16px;
    line-height: 0;
    position: relative;
}