.button {
    background-color: black;
    color: rgba(241,241,241,1);
    padding: 10px 20px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    outline: none;
    border: 1px solid #000;
    box-shadow: none;
    white-space: nowrap;
    cursor: pointer;
    min-width: 195px;
    user-select: none;
    border-radius: 10px;
}

.button:hover, .exist {
    color: #000;
    background-color: transparent;
}

.button:disabled {
    pointer-events: none;
    opacity: .5;
}