.badge {
    background-color: #ff5c00;
    font-weight: bold;
    width: 18px;
    height: 18px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link, .active {
    text-decoration: none;
    font-size: 11px;
    line-height: 13px;
    position: relative;
}

svg {
    width: 32px;
    height: 27px;
    object-fit: contain;
    stroke: #252525;
    stroke-width: 1.3;
}

.active svg  {
    stroke: #ff5c00;
    stroke-width: 2;
}