.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
    line-height: 26px;
    border-radius: 25px;
    overflow: hidden;
    background-color: rgba(241, 241, 241, 1);
    padding: 50px;
}

.wrapper {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.description {
    width: 100%;
    height: 36px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    line-height: 18px;
}

.activities {
    text-transform: lowercase;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
}

.image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
    cursor: zoom-in;
}

.controls {
    display: flex;
    gap: 20px;
    align-items: center;
}
