.button:disabled {
    pointer-events: none;
    opacity: .2;
}

.button {
    font-size: 25px;
    line-height: 31px;
    color: #252525;
    border: 1px solid #252525;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.quantity {
    min-width: 50px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    font-size: 20px;
    line-height: 30px;
}

.qtyWrapper {
    display: flex;
    align-items: center;
}