.links {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    min-height: 60px;
    min-width: 106px;
}

.link {
    text-decoration: none;
    color: #000;
}

.active {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}