.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.close {
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    right: -25px;
    top: -25px;
    object-fit: contain;
}

.close svg {
    fill: #fff;
}