.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 60px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 15px;
    grid-template-areas:
    "categories filters filters"
    "categories message message"
}


.categoriesWrapper {
   grid-area: categories;
}

.filterWrapper {
    grid-area: filters
}

.statusMessage {
 grid-area: message;
    justify-self: center;
}