.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 60px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 15px;
    grid-template-areas:
    "categories filters filters"
    "categories . ."
}


.categoriesWrapper {
    grid-area: categories;
}

.filterWrapper {
    grid-area: filters
}

/* вынести в отдельный компонент */
.heading {
    font-weight: 700;
    font-size: 37px;
    line-height: 45px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

/* вынести в отдельный компонент */
.description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 670px;
    font-size: 16px;
    line-height: 22px;
    color: #252525;
}


/* вынести в отдельный компонент */
.alert {
    text-transform: uppercase;
}

.alertContainer {
    display: flex;
    gap: 15px;
    align-items: center;
}

.infoIcon {
    width: 20px;
    height: 20px;
    background: url(./../../images/info-icon.svg) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.infoIcon:hover {
    opacity: .5;
}

/* вынести в отдельный компонент */

.link {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 3px;
    display: flex;
    align-items: center;
    text-align: left;
    background: transparent;
    border: none;
    outline: none;
    max-width: 475px;
}

.link::after {
    content: '';
    background: url(../../images/arrow-right-icon.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    background-size: contain;
    flex-shrink: 0;
}

.link:active {
    transform: scale(1);
}

.link:hover {
    opacity: .5;
}