.container {
    width: 100%;
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    color: #ff5c00;
}