.totalContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
}

.total, .price {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #252525;
}

.totalWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total {
    text-transform: uppercase;
}

.price {
    padding-right: 100px;
}